.idea/
pkg/
out/
.DS_Store
sandbox/crash-reports
sandbox/world*
sandbox/logs
sandbox/start.*
sandbox/eula.txt
sandbox/plugins/PluginMetrics
sandbox/.update-lock
sandbox/*.json
sandbox/*.yml
sandbox/*.properties
sandbox/plugins/*.jar